# The Deceptive Visualization - Jupyter Notebook

## Data Sources: 
#### Data on Happiness scores - 
https://www.kaggle.com/c34klh123/explore-happiness-data/data
#### Data on Public holidays - 
http://www.telegraph.co.uk/travel/maps-and-graphics/mapped-the-countries-that-have-the-most-bank-holidays/
and some data downloaded from the existing visualization
#### Data on list of paid vacation days - 
https://en.wikipedia.org/wiki/List_of_minimum_annual_leave_by_country
#### Data on Productivity score - 
http://www3.weforum.org/docs/GCR2017-2018/05FullReport/TheGlobalCompetitivenessReport2017%E2%80%932018.pdf

#### Downloaded and saved data from these sources in csv files.

Import pandas to fetch the csv files saved on the local machine and read the workbook

In [60]:
import pandas as pd

#Read the Global Happiness data workbook
Happiness = pd.read_csv(r"C:\Users\Tanushree\Desktop\UNIVERSITY\Quarter 4\Dashboard\Deceptive Project\Excel sheets\Global Happiness score.csv")

#Read the Global Productivity data workbook
Productivity = pd.read_csv(r"C:\Users\Tanushree\Desktop\UNIVERSITY\Quarter 4\Dashboard\Deceptive Project\Excel sheets\Global Productivity score.csv")

#Read the workbook about paid vacation days
PaidVacation = pd.read_csv(r"C:\Users\Tanushree\Desktop\UNIVERSITY\Quarter 4\Dashboard\Deceptive Project\Excel sheets\Paid Vacation Days.csv")

#Read the workbook about public holidays
PublicHolidays = pd.read_csv(r"C:\Users\Tanushree\Desktop\UNIVERSITY\Quarter 4\Dashboard\Deceptive Project\Excel sheets\Public Holidays.csv")

#### Displaying the first five records for happiness data

In [61]:
Happiness.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Algeria,53,5.872,5.978286,5.765714,1.091864,1.146217,0.617585,0.233336,0.069437,0.146096,2.567604
1,Argentina,24,6.599,6.690085,6.507915,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005
2,Australia,10,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211
3,Austria,13,7.006,7.070670,6.941330,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060,2.138506
4,Bangladesh,110,4.608,4.689822,4.526178,0.586683,0.735132,0.533241,0.478357,0.172255,0.123718,1.978736

Drop the columns with unnecessary(not imparting any relevant info) information from the Happiness workbook

In [62]:
drop1 = ['Happiness.Rank','Whisker.high','Whisker.low','Economy..GDP.per.Capita.','Family','Health..Life.Expectancy.','Freedom','Generosity','Trust..Government.Corruption.','Dystopia.Residual']
Happiness = Happiness[[col for col in Happiness.columns if col not in drop1]]

In [63]:
Happiness.head()

      Country  Happiness.Score
0     Algeria            5.872
1   Argentina            6.599
2   Australia            7.284
3     Austria            7.006
4  Bangladesh            4.608

 Drop empty rows if all values of the rows are NaN.

In [64]:
Happiness = Happiness.dropna(axis=0,how='all')

#### Displaying the first five records for Productivity data

In [65]:
Productivity.head()

      Country  Productivity score
0     Algeria                4.07
1   Argentina                3.95
2   Australia                5.19
3     Austria                5.25
4  Bangladesh                3.91

#### Displaying the first five records for PaidVacation data

In [66]:
PaidVacation.head()

      Country  Paid vacation days
0     Algeria                  22
1   Argentina                  10
2   Australia                  20
3     Austria                  25
4  Bangladesh                  10

#### Displaying the first five records for PublicHolidays data (This data was extracted from the original visualization)

In [67]:
PublicHolidays.head()

,Country,Happiness Score,Number of Records,NUMBER OF HOLIDAY DAYS PER YEAR,Public Holidays
0,Algeria,5.870,1,9,9
1,Argentina,6.600,1,15,15
2,Australia,7.280,1,9,9
3,Austria,7.010,1,12,12
4,Bangladesh,4.608,1,11,11

Drop some unnecessary columns

In [68]:
PublicHolidays = PublicHolidays[['Country','Public Holidays']]

In [69]:
PublicHolidays.head()

      Country  Public Holidays
0     Algeria                9
1   Argentina               15
2   Australia                9
3     Austria               12
4  Bangladesh               11

Merging the 4 sheets in one dataset based on the common column "Country"

In [70]:
merge1 = Happiness.merge(PublicHolidays, on="Country", how="outer")
merge2 = Productivity.merge(PaidVacation, on="Country", how="outer")

#Final merged dataset
Deceptive_jupyterFile = merge2.merge(merge1, on="Country", how="outer")

Displaying head of merged dataset

In [71]:
Deceptive_jupyterFile.head()

,Country,Productivity score,Paid vacation days,Happiness.Score,Public Holidays
0,Algeria,4.07,22.0,5.872,9.0
1,Argentina,3.95,10.0,6.599,15.0
2,Australia,5.19,20.0,7.284,9.0
3,Austria,5.25,25.0,7.006,12.0
4,Bangladesh,3.91,10.0,4.608,11.0

#### Exporting the dataset to csv file

In [72]:
Deceptive_jupyterFile.to_csv("Deceptive_jupyterFile.csv")